//output: stories.html
div(ng-class="['app-stories',{'modal-content': appStories.highlights.looseness < 2}]",
    ng-if="appStories.stories.length > 0")
  .app-story-box
    .modal-header
      button.close(type="button",ng-click="appStories.highlights.looseness = 2") &times;
      .modal-title.btn-group
        app-dropdown(
          placeholder="Select Story",
          list="appStories.stories",
          selected="appStories.story",
          property="label",
          type="radio"
        )
        button.btn(
            ng-if="appStories.highlights.looseness > 0 && (appStories.story.metricId || appStories.story.x || appStories.story.y)",
            ng-click="appStories.highlights.looseness = 0"
          )
            span.glyphicon.glyphicon-screenshot
            span.app-label &nbsp; Highlight Point 
    .modal-body 
      p {{appStories.story.desc}}
    .modal-footer
      button.btn.btn-default(
          ng-if="appStories.story.next && appStories.explore"
          ng-click="appStories.highlights.looseness = 2"
        )
          span.app-label Explore &nbsp; 
          span.glyphicon.glyphicon-glass
      a.btn.btn-default(
        ng-if="!appStories.story.prev && appStories.homeurl"
        ng-href="{{appStories.homeurl}}"
      )
        span.glyphicon.glyphicon-home
        span.app-label &nbsp; Back to Overview
      button.btn.btn-default(
          ng-if="appStories.story.prev"
          ng-click="appStories.goToStory(appStories.story.prev)"
        )
          span.glyphicon.glyphicon-menu-left
          span.app-label &nbsp; Back
      button.btn.btn-primary(
          ng-if="appStories.story.next"
          ng-click="appStories.goToStory(appStories.story.next)"
        )
          span.app-label Proceed &nbsp;
          span.glyphicon.glyphicon-menu-right
      a.btn.btn-primary(
          ng-if="!appStories.story.next && appStories.homeurl"
          ng-href="{{appStories.homeurl}}"
        )
        span.glyphicon.glyphicon-home
        span.app-label &nbsp; Return to Overview
      button.btn.btn-primary(
          ng-if="!appStories.story.next && appStories.explore"
          ng-click="appStories.highlights.looseness = 2"
        )
        span.app-label Explore! &nbsp; 
        span.glyphicon.glyphicon-glass &nbsp;
        span.glyphicon.glyphicon-menu-right
          
  button.app-story-button.btn(ng-click="appStories.highlights.looseness = 0")
    span.glyphicon.glyphicon-book
    span.app-label &nbsp; Return to Guided Tour
