//output: explain.html
.app-view#app-explain

  svg.app-halo(viewBox="20 70 60 30",preserveAspectRatio="none")
    circle(cx="50",cy="50",r="50",fill="#f3f3f3")
  
  .app-summary-outline
    .app-summary-chart(ng-if="appExplain.summary")
      app-chart(
          data="appExplain.summary",
          highlights="appExplain.highlights",
          xlabel="Time",
          ylabel="Temperature",
          xunit="s",
          yunit="°C"
        )
