//output: explore.html
.app-view#app-explore

  .app-view-col-2
    .app-view-control.btn-group
      app-dropdown(
          placeholder="Select Scenario",
          list="view.scenarios",
          selected="view.selectedScenario",
          property="label",
          type="radio"
        )
    .app-view-content(ng-if="view.selectedScenario.schematicsFile")
      app-schematics(
          svg="view.selectedScenario.schematicsFile",
          locations="view.locations",
          highlights="view.highlights",
          dir="{{view.dataDir}}"
        )
      
  .app-view-col-2
    .app-view-control.btn-group(ng-if="view.metrics.length")
      app-dropdown(
          placeholder="Select Metrics",
          list="view.metrics",
          selected="view.selectedMetrics",
          property="label",
          type="checkbox"
        )
    .app-view-content(ng-if="view.selectedMetrics.length")
      app-metrics(
          metrics="view.selectedMetrics",
          highlights="view.highlights"
        )
        app-metric(metric="metric",highlights="view.highlights")
