//output: explore.html
.app-view#app-explore

  .app-view-col-2
    .app-view-control.btn-group
      app-dropdown(
          placeholder="Select Battery and Test Scenario",
          list="view.scenarios",
          selected="view.selectedScenario",
          property="label",
          type="radio"
        )
    .app-view-content.app-view-empty(ng-if="!view.selectedScenario")
      .app-hand-up
        .glyphicon.glyphicon-hand-up
      .app-hand-right
        .glyphicon.glyphicon-hand-right
      p Select a battery type and test scenario! we will show you how it looks like and how it performed in this area! 
    .app-view-content(ng-if="view.selectedScenario.schematicsFile")
      app-schematics(
          svg="view.selectedScenario.schematicsFile",
          locations="view.locations",
          highlights="view.highlights",
          dir="{{view.dataDir}}"
        )
      app-stories(
          stories="view.stories",
          story="view.selectedStory"
          highlights="view.highlights",
          metricsselector="view.selectMetricsById(metrics)",
          homeurl="#!/explain"
        )
      
  .app-view-col-2
    .app-view-control.btn-group(ng-if="view.metrics.length")
      app-dropdown(
          placeholder="Select Metrics",
          list="view.metrics",
          selected="view.selectedMetrics",
          changed="view.highlights.looseness = (view.highlights.looseness < 2 ? 2 : view.highlights.looseness)"
          property="label",
          type="checkbox"
        )
      button.btn(
        ng-if="view.highlights.looseness > 2",
        ng-click="view.highlights.looseness = 2")
          span.glyphicon.glyphicon-fullscreen
          span.app-label &nbsp; Re-Fit to View 
    .app-view-content(ng-if="view.selectedMetrics.length")
      app-metrics(
          metrics="view.selectedMetrics",
          highlights="view.highlights"
        )
        app-metric(metric="metric",highlights="view.highlights")
